<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Todo List</title>
    <%= stylesheetTag("application.css") %>
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
  </head>
  <body>

    <header>
      <nav class="wwc-navbar navbar navbar-light bg-light text-white shadow">
        <div class="d-flex">
          <a href="/" class="wwc-home-link"><span class="wwc-navbar-brand navbar-brand mb-0 h1 text-white d-flex align-items-center font-size-navbar">ToDo List</span></a>
          <div class="wwc-uncompleted-and-date">
            <span class="wwc-number-of-incompleted-tasks"><%= pendingTasksNumber %> Incompleted Tasks</span><br>
            <span class="wwc-today-date"><%= currentDateTime %></span>
            <!-- <span class="wwc-today-date">{{.CurrentDateTime.Weekday}} {{.CurrentDateTime.Day}}, {{.CurrentDateTime.Month}} {{.CurrentDateTime.Year}}</span> -->
          </div>
        </div>
  
        <div>
          <ul class="d-flex align-items-center list-unstyled m-0">
  
            <!-- {{ if and (not .FilterStatus.Completed) (not .FilterStatus.Incompleted) }}
            <li><a href="/" class="text-white wwc-nav-link wwc-nav-first-link wwc-active-link">All Tasks</a></li>
            {{ else }}
            <li><a href="/" class="text-white wwc-nav-link wwc-nav-first-link">All Tasks</a></li>
            {{ end }}
  
            {{ if .FilterStatus.Incompleted }}
            <li><a href="/?status=incompleted" class="text-white wwc-nav-link wwc-nav-first-link wwc-active-link">Incompleted Tasks</a></li>
            {{ else }}
            <li><a href="/?status=incompleted" class="text-white wwc-nav-link wwc-nav-first-link">Incompleted Tasks</a></li>
            {{ end }}
  
            {{ if .FilterStatus.Completed }}
            <li><a href="/?status=completed" class="text-white wwc-nav-link wwc-active-link">Completed Tasks</a></li>
            {{ else }}
            <li><a href="/?status=completed" class="text-white wwc-nav-link">Completed Tasks</a></li>
            {{ end }} -->
            
          </ul>
        </div>
      </nav>
    </header>

    <div class="container">
      <%= yield %>
    </div>

    <%= javascriptTag("application.js") %>
  </body>
</html>
